h1{
	margin-bottom: 30px;
	color: aqua;
	text-decoration: underline;
}
input
{
	margin-right: 10px;
	margin-bottom: 20px;
	width: 200px;
	background-color: blueviolet;
	border: solid;
	font-weight: bold;
}
button{
	margin-top: 20px;
	background-color: coral;
	font-weight: bold;
}
hr{
	margin-bottom: 15px;
}
body{
	background-color: deeppink;
}